name: Deploy to Surge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Build and Deploy
      run: |
        # Configurar Surge.sh
        npm install --global surge
        surge token 007bf148375720df02c8e679bceccb7c # Reemplazar <SURGE_API_KEY> con la API Key de Surge de cada estudiante

        # Desplegar en Surge.sh
        surge --project ./ --domain 2021-2196.surge.sh
